/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

body {
    @apply text-gray-100;
    background: radial-gradient(#351a1a, #000000);
    background: radial-gradient(#460b0b 10%, #000000 130%);
}

.logo-wrapper {
    width: 150px;
    max-width: 100%;
}

.logo-wrapper--large {
    width: 220px;
    margin-bottom: 4rem;
    margin: auto;
    margin-top: 3rem;
}

.logo {
    display: block;
    width: 100%;
    padding-bottom: 20%;
    background: linear-gradient(180deg, #ffdb84 0%, #cb861a 100%);
    mask: url('/images/FlickList-logo-wordmark.svg') no-repeat center / contain;
}

.main-wrapper {
    @apply flex flex-col;
    min-height: 94vh;
}

main {
    @apply px-4 mb-4 flex-grow;
}

footer {
    @apply text-center py-2 px-4 text-xs text-gray-500;
}

.link {
    @apply hover:underline;
    color: #f8a92a;
}

.page-title {
    @apply text-center text-3xl mb-4;
}

.auth-wrapper {
    @apply flex flex-col items-center justify-center;
    min-height: 75vh;
}

.auth-form {
    @apply flex flex-col justify-stretch w-96 p-6 rounded-lg shadow-md;
    max-width: 100vw;
    background-color: #00000054;

    .auth-form__field {
        @apply border rounded p-1 mb-4;
        border-color: #794a17;
    }

    .auth-form__submit {
        @apply transition mt-4 text-white px-4 py-2 rounded-md;
    }

    .auth-form__submit--enabled {
        @apply cursor-pointer;
    }

    .auth-form__submit--disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    .auth-form__error-message {
        @apply text-center mt-4 text-red-500;
    }
}

.auth-form__hint--valid {
    @apply text-green-600;
};

.auth-form__hint--invalid {
    @apply text-red-600;
};

.btn-password-toggler {
    height: 34px;
    @apply transition text-white px-3 rounded ml-2 self-start cursor-pointer;
}

.movie-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(min(250px, 32%), 1fr));
    justify-content: start;
    align-items: stretch;
}

@keyframes placeholder-glow {
  0% { opacity: 1; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.placeholder-movie-card {
    animation: placeholder-glow 2.5s infinite ease-in-out;
    background: #939393;
    border-radius: 8px;
    padding: 15px;
}

.placeholder-movie-card__title {
    background: #515151;
    width: 80%;
    height: 25px;
    margin: auto;
    border-radius: 4px;
    margin-bottom: 8px;
}

.placeholder-movie-card__poster {
    background: #515151;
    width: 100%;
    padding-bottom: 150%;
    border-radius: 8px;
    margin-top: 7px;
}

.fade-in {
    animation: fade-in 0.5s ease-in forwards;
    animation-delay: 0.5s;
    opacity: 0;
}

.button--gold,
.button--gold.auth-form__submit--disabled:hover {
    background: linear-gradient(45deg, #cf8d23, #64430f);
    border: 1px solid #cf8d23;
}

.button--gold:hover {
    background: linear-gradient(45deg, #cf8d23, #cf8d23);
    border: 1px solid #cf8d23;
}