.load-more-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 100%;
}

.btn-load-more {
  background-color: transparent;
  color: #cf8d23;
  border: 2px solid #cf8d23;
  padding: 12px 30px;
  font-weight: bold;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-load-more:hover {
  background-color: #cf8d23;
  color: white;
  box-shadow: 0 4px 15px rgba(207, 141, 35, 0.3);
  transform: translateY(-2px);
}