a.active {
    border-bottom-color: var(--color-blue-900);
}

.movie-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: start;
    align-items: stretch;
}