@reference "../styles.css";

header {
    @apply flex items-center justify-between;
}

nav {
    @apply flex flex-row justify-center mx-auto gap-1 py-1 px-4;

    background-color: #181b24;
    
    .nav-link {
        @apply rounded-md flex items-center transition py-2 pl-3 pr-4;
        border-bottom: 2px solid transparent;

        img {
            margin-right: 4px;
        }
    }

    .nav-link.active,
    .nav-link:hover {
        background-color: #432e0d;
        border-bottom: 2px solid #d3942c;
    }

}

.logout-link {
    @apply ml-auto px-2 hover:underline cursor-pointer;
}