@reference "../../../styles.css";

.movie-detail-wrapper {
    min-height: 85vh;
    @apply relative bg-cover bg-top flex items-center justify-center -mx-4 -mt-9;
}

.background-layer {
    @apply absolute top-0 left-0 w-full h-full bg-cover bg-center;
}

.overlay {
    @apply bg-black opacity-80 absolute top-0 left-0 w-full h-full;
}

.movie-detail-container {
    @apply relative z-10 backdrop-blur-xs text-white p-6 pt-4 max-w-3xl mx-auto rounded-lg shadow-md overflow-hidden;
}

.movie-detail {
    @apply relative z-20;
}

.movie-detail__title {
    @apply text-center text-3xl mb-4 mx-10 grow;
}

.back-button {
    @apply cursor-pointer absolute z-30 top-4 left-4 border border-1 border-gray-400 bg-gray-500 rounded-full p-1 transition hover:bg-blue-500;
}

.eye-candy {
    display: flex;
    gap: 1rem;
}

.movie-poster {
    flex-shrink: 0;
}

.movie-poster__image {
    width: 155px;
}

.movie-info {
    flex-grow: 1;
}

.ownership-controls {
    flex-grow: 1;
    @apply mb-4;
}

.platform-button {
    @apply bg-black border border-2 rounded-lg py-1 px-3 transition cursor-pointer grow flex items-center justify-center border-gray-500 hover:border-blue-500;
}

.platform-button--retailer {
    @apply py-2;
}

.platform-button--owned {
    @apply border-green-500 hover:border-green-500;
}

.platform {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    &.DVD {
        width: 40px;
        height: 40px;
    }

    &.Blu-ray {
        width: 40px;
    }

    &.Ultra.HD.Blu-ray {
        width: 70px;
    }
}

.button-row {
    @apply flex justify-end;

    button {
        @apply flex items-center gap-1 border border-1 text-white pr-4 pl-3 py-2 rounded transition cursor-pointer;
    }

    button.submit {
        @apply border-blue-500 bg-blue-600 hover:bg-blue-500;
    }
}

.toast {
    @apply fixed bottom-6 left-1/2 -translate-x-1/2 z-50 px-6 py-3 rounded-lg shadow-lg text-white text-sm transition
}


.movie-detail-container--placeholder {
    @apply relative max-w-3xl mx-auto rounded-lg;
    animation: placeholder-glow 2.5s infinite ease-in-out;
    background: #bfbfbf;
}

.movie-detail-title-placeholder {
    background: #858585;
    border-radius: 4px;
    height: 30px;
    width: 200px;
    margin: auto;
}

.label-placeholder {
    background: #858585;
    border-radius: 4px;
    height: 25px;
    width: 120px;
    margin-bottom: 8px;
}

.value-placeholder {
    background: #858585;
    border-radius: 4px;
    height: 20px;
    width: 80px;
    margin-bottom: 10px;
}

.text-area-placeholder {
    background: #858585;
    margin-top: 10px;
    border-radius: 4px;
    height: 80px;
    max-width: 40%;
    width: 1000px;
}

.movie-poster-image-placeholder {
    background: #858585;
    width: 155px;
    padding-bottom: 150%;
    border-radius: 8px;
    margin-top: 7px;
}

.platform-button-placeholder {
    background: #858585;
    border-radius: 8px;
    height: 50px;
}