@if (notFound()) {
<h1 class="page-title">
    Movie not found. It may have been removed from the Movie Database.
</h1>
}

@if (movieDetail()) {
<div [style.background-image]="'url(' + backgroundImageUrl() + ')'" class="movie-detail-wrapper">
    <div class="movie-detail-container">
        <div class="overlay "></div>

        <button (click)="location.back()" class="back-button">
            <img src="/images/icons/arrow_back.svg" alt="Back" title="Go back" />
        </button>

        <div class="movie-detail">
            <h1 class="movie-detail__title">
                {{ movieDetail()?.title }}
            </h1>

            <div class="eye-candy" [class]="isReleaseDateInFuture() ? 'future-release' : 'released'">
                @if (movieDetail()?.posterPath) {
                <div class="movie-poster">
                    <img class="movie-card__poster" [src]="posterUrl()" [alt]="movieDetail()?.title + ' poster'"
                        class="movie-poster__image" />
                </div>
                }

                @if (!isReleaseDateInFuture()) {
                <div class="ownership-controls">
                    <p class="mb-1">Physical Media:</p>
                    <div class="flex flex-wrap gap-2 mb-4">
                        @for (format of ownedFormats(); track format.value) {
                        <button class="platform-button" [class]="
                              format.isOwned
                                ? 'platform-button--owned'
                                : ''
                            " 
                            (click)="togglePlatformOwnership(format.value, ownedFormats)"
                            tabindex="format.value"
                            >
                            <span class="platform" [style]="{ backgroundImage: 'url(' + format.image + ')' }"
                                [class]="format.label" [attr.alt]="format.label" [attr.title]="format.label"></span>
                        </button>
                        }
                    </div>

                    <p class="mb-1">Digital Retailers:</p>
                    <div class="flex flex-wrap gap-2 mb-4">
                        @for (digitalRetailer of ownedDigitalRetailers(); track digitalRetailer.value) {
                        <button class="platform-button platform-button--retailer" [class]="
                            digitalRetailer.isOwned
                                ? 'platform-button--owned'
                                : ''
                            "
                            (click)="
                              togglePlatformOwnership(digitalRetailer.value, ownedDigitalRetailers)
                            "
                            tabindex="digitalRetailer.value"
                            >
                            <span class="platform" [style]="{ backgroundImage: 'url(' + digitalRetailer.image + ')' }"
                                [class]="digitalRetailer.label" [attr.alt]="digitalRetailer.label"
                                [attr.title]="digitalRetailer.label"></span>
                        </button>
                        }
                    </div>

                    <div class="button-row">
                        <button class="submit" (click)="saveOwnership()">
                            <img src="/images/icons/save.svg" alt="Save icon" class="w-6 h-6 inline" />
                            <span>Save Ownership</span>
                        </button>

                        <button class="delete" (click)="deleteMovieOwnership()">
                            <img src="/images/icons/delete.svg" alt="Delete icon" class="w-6 h-6 inline" />
                            <span>Delete Ownership</span>
                        </button>
                    </div>
                </div>
                }
                <div class="movie-info">
                    <p class="mb-2"><strong>Release Date:</strong> {{ movieDetail()?.releaseDate | date }}</p>
                    <p class="mb-2"><strong>Runtime:</strong> {{ movieDetail()?.runtime }} minutes</p>
                    <p class="mb-2"><strong>Tagline:</strong> {{ movieDetail()?.tagline }}</p>
                    <p class="mb-2"><strong>Overview:</strong> {{ movieDetail()?.overview }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
}

@if (messageResult()) {
<div class="toast" [class]="messageResult()!.type === 'success' ? 'bg-green-600' : 'bg-red-600'">
    {{ messageResult()!.message }}
</div>
}